@tailwind components;

@layer components {
  .btn {
    @apply btn-md btn-primary relative flex justify-center items-center gap-4
           w-fit h-fit rounded font-medium transition-colors
           disabled:pointer-events-none;
  }

  .btn-md {
    @apply py-2 px-4;
  }
  .btn-lg {
    @apply py-3 px-6;
  }

  .btn-primary {
    @apply text-white bg-primary-500 hover:bg-primary-600 
           disabled:bg-primary-400;
  }
  .btn-primary-light {
    @apply text-primary-500 bg-primary-100 hover:bg-primary-200 
           disabled:bg-primary-50;
  }
  .btn-white {
    @apply text-black bg-white hover:bg-neutral-50 disabled:bg-white;
  }

  .input {
    @apply h-12 px-4 rounded border border-neutral-100 transition-colors
           focus:outline-none focus:border-primary-500;
  }
  .input-invalid {
    @apply border-red-500;
  }
}
